* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: Arial;
}

.shadow {
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}

header {
    background-color: brown;
    color: #FFF;
    padding: 1.25rem 2rem;
}

#container {
    text-align: left;
    margin: 5rem auto;
    padding: 2rem;
    border: solid 3px gray;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo, nav {
    display: inline-block;
}

nav { 
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    border: solid 1px white;
    margin: auto 2px;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#container p {
    margin-bottom: 0.5rem;
}

footer {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: darkslateblue;
    color: #FFF;
    text-align: center;
    font-weight: bolder;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}